<launch>
    <rosparam command="load" file="$(find calib)/config/default_transform.yaml" />
    <node pkg="calib" name="preproc_cam1" type="preprocessing_node" respawn="true" output="screen" args="/cam1/qhd/points cam1" />
    <node pkg="calib" name="preproc_cam2" type="preprocessing_node" respawn="true" output="screen" args="/cam2/qhd/points cam2" />
    <node pkg="calib" name="merging_cam1_cam2" type="merging_node" respawn="true" output="screen" args="/calib/clouds/cam1/preproc /calib/clouds/cam2/preproc scene" />
    <node pkg="calib" name="preproc_scene" type="preprocessing_node" respawn="true" output="screen" args="/calib/clouds/scene scene" />
</launch>
