<launch>
    <arg name="in1" default="/reconstruction/point_clouds/fix/preprocessed" />
    <arg name="in2" default="/reconstruction/point_clouds/cam3/preprocessed" />
    <arg name="f" default="0" />
    <node name="plane_detection_fix" pkg="plane_detection" type="plane_detection_node" args="fix $(arg in1) $(arg f)" output="screen" respawn="true"  />
    <node name="plane_detection_cam3" pkg="plane_detection" type="plane_detection_node" args="cam3 $(arg in2) $(arg f)" output="screen" respawn="true"  />
</launch>